@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

* {
    font-family: 'Mitr', sans-serif;
}

.bg {
    background-color: #fff;
    overflow: hidden;
}

.content {
    max-height: 1800px;
    max-width: 3200px;
    border-radius: 12px;
    box-shadow: 0px 5px 13px 4px #00000014;
    background-color: #f7f7f8;
}
#navbar {
    background-color: #FCC261;
    min-width: 60px;
    align-items: center;
    display: grid;
    width: 6.5vw;
}
#body {
    background-color: #033F78;
    width: 93.5vw;
}
#video {
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
}
#navbar_icon {
    justify-content: center;
    display: grid;
    align-items: center;
    gap: 1.7vh;
}
#all {
    background-color: #023047;
    color: #ffffff;
    height: 100%;
    max-height: 100%;
    display: flex;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card-body {
    padding: 20px;
}
.datetime {
    height: 15vh;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
}
.time {
    font-size: 28px;
  }
  
.date {
    font-size: 24px;
  }
.container-1 {
    height: 19vh;
    width: 21vw;
    background-color: #FCC261;
    border-radius: 15px;
    color: #111;
    padding: 15px;
    font-size: 22px;
    padding-left: 25px;
}
.container-2 {
    height: 50vh;
    width: 28vw;
    background-color: #FFE699;
    border-radius: 15px;
    color: #111;
    padding: 15px;
    font-size: 22px;
    padding-left: 25px;
}
.container-3 {
    width: 90vw;
    background-color: #fff;
    border-radius: 20px;
    color: #111;
    padding: 10px 25px;
    display: grid;
    border: 2px #111;
} 
.container-4 {
    height: fit-content;
    width: 45vw;
    background-color: #fff;
    border-radius: 20px;
    color: #111;
    padding: 5px 15px 15px 15px;
    font-size: 22px;
} 
.container-5 {
    height: 47vh;
    width: 28.125vw;
    background-color: #fff;
    border-radius: 20px;
    color: #111;
    font-size: 22px;
} 
.container-6 {
  width: 45vw;
  background-color: #fff;
  border-radius: 20px;
  color: #111;
  padding: 10px 25px;
  display: grid;
  border: 2px #111;
} 
#filter_search {
    top: 80px;
    right: 40px;
    position: absolute;
    display: flex;
    
} 
th, td {
  border: 1px solid #111;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #FCC261;
}
#filterbox {
    height: 5vh;
    width: 6vw;
    background-color: #fff;
    color: #111;
    margin-right: 10px;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}
#login_btn {
    background-color: #FCC261;
    border-radius: 10px;
    text-align: center;
}
#loginbox {
  width: 30%;
  font-size: 16px;
  
}
#logo_topleft {
  top: 20px;
  left: 10px;
  position: absolute;
}
#searchbox {
    height: 5vh;
    width: 6vw;
    background-color: #fff;
    color: #111;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}
.confirmbox {
    width: 30vw;
    height: 6vh;
    background-color: #FCC261;
    color: #111;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 5em;
}
.confirmbox1 {
  width: 30vw;
  height: 6vh;
  background-color: #FCC261;
  color: #111;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-top: 1em;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#reginfbox1 {
    border-radius: 7px;
    border: solid 1.5px #333;
    padding: 10px;
    text-align: left;
    width: 22%;
    flex: 1;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
}
#reginfbox4 {
    border-radius: 7px;
    border: solid 1.5px #333;
    padding: 10px;
    text-align: left;
    width: 40%;
    flex: 1;
    font-size: 12px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
#reginfbox5 {
    border-radius: 7px;
    border: solid 1.5px #333;
    padding: 10px;
    text-align: left;
    width: 35%;
    flex: 1;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
}
#reginfbox8 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 100%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox2 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 73.5%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox3 {
    border-radius: 7px;
    border: solid 1.5px #333;
    padding: 10px 10px 10px 10px;
    text-align: left;
    max-width: 25%;
    flex: 1;
    font-size: 12px;
    height: 40px;
    margin-top: 10px;
    margin-right: auto;
}
#reginfbox10 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 17%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox11 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 17%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
#reginfbox12 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 44%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox13 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 35%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox14 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 34%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
#reginfbox15 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 28%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox16 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 60%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox17 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 38.5%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox18 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 100%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox19 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 60%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox20 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 38.5%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox21 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 40%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox22 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 30%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
#reginfbox23 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 27%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox24 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 55%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#reginfbox25 {
  border-radius: 7px;
  border: solid 1.5px #333;
  padding: 10px;
  text-align: left;
  width: 43.5%;
  flex: 1;
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
}
#content_in_box {
    margin-top: 15px;
    padding-left: 15px;
    font-size: 20px;
}
.headercontainer {
    border-left: #111;
    border-radius: 1px;
}
.underline-text {
  line-height: 1;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 5px;
  color: #111;
  font-weight: bold;
}
#header1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: fit-content;
  margin-top: 80px;
}
#header2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: fit-content;
  margin-top: 40px;
}
.wrapper{
    width: 28.125vw;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #9B59B6;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }