@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

* {
    font-family: 'Mitr', sans-serif;
}

.bg {
    background-color: #abb4ce6b;
}

.content {
    max-width: 514px;
    border-radius: 12px;
    box-shadow: 0px 5px 13px 4px #00000014;
    background-color: #f7f7f8;
}

.btn-custom-lang {
    border: solid 2px #555555;
    border-radius: 17px;
    box-shadow: 0 3px 0 #22222230;
    background-color: #ffffff;
}
.btn-custom-lang:hover {
    border: solid 2px #555555;
    box-shadow: 0 3px 0 #22222230;
    background-color: #c7c7c7;
}

.btn-custom{
    color: #fefefe;
    background-color: rgb(29, 45, 95) !important;
}
.btn-custom:hover, .btn-custom.active{
    color: #fefefe;
    background-color: rgb(17, 25, 46) !important;
}

.nav-custom {
    background-color: rgb(29, 45, 95) !important;
}
#header {
    background-color: #f5efd5;
    padding: 1em;
    color: #ffffff;
    vertical-align: middle;
    height: 317px;
}
#video {
    background-color: #f5efd5;
    height: 490px;
}
#body {
    height: 280px;
    background-color: #e3e3e3;
    border: 5px #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}
#body > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_medbon {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}
#txtbox {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin: 5px;
    width: 300px;
}
#password {
    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 20px;
    text-align: left;
    width: 260px;
}
#contentpasswordbox {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 0;
    text-align: left;
    margin: 0;
    width: 300px;
    justify-content: left;
    justify-items: left;
    background-color: #fff;
}
#showpass {
    size: 10px;
    size-adjust: 10px;
    tab-size: 10px;
    block-size: 10px;
}
#loginbtn {
    background-color: #01acc8;
    color: #fff;
    border-radius: 10px;
    border-width: 0;
    text-align: center;  
    justify-content: center;
    display: block;
    width: 300px;
    padding: 10px 0 10px 0;
    font-size: 20px;
    margin: 0 auto;
}

#loginbtn:hover {
    background-color: #00879e;
    color: #fff;
    border-radius: 10px;
    border-width: 0;
    text-align: center;  
    justify-content: center;
    display: block;
    width: 300px;
    padding: 10px 0 10px 0;
    font-size: 20px;
    margin: 0 auto;
}
#notreg {
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
}
#reg {
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #111;
}
#header1 {
    height: 130px;
    background-color: #01acc8;
    border: solid 2px #01acc8;
    padding: 0 1em;
}
#video1 {
    height: 677px;
    background-color: #f5efd5;
}
#video2 {
    height: 750px;
    background-color: #f5efd5;
    align-items: center;
    justify-content: center;
}
#booking {
    font-size: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
    color: #fff;
}
#bookbox {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 0;
    text-align: left;
    width: 420px;
    background-color: #fff;
    margin: 20px auto auto auto;
}
#bookdaybox {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px;
    text-align: left;
    margin: 5px auto 5px;
    max-width: 420px;
    max-height: 280px;
    background-color: #fff;
    color: #111;
    flex: 10;
}
#forget {
    padding-left: 15vw;
    text-decoration: none;
    font-size: 14px;
    color: #111;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}
#forget1 {
    text-decoration: none;
    color: #111;
}
#symptombox {
    border-radius: 7px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin: 10px 5px 5px 5px;
    width: 420px;
}
#numberbox {
    border-radius: 7px;
    border: solid 1.5px #bfbebe;
    padding: 5px 10px 10px 20px;
    text-align: left;
    margin: 10px 5px 5px 5px;
    width: 420px;
}
#jongqbtn {
    background-color: #01acc8;
    color: #fff;
    border-radius: 7px;
    border-width: 0;
    text-align: center;
    margin: 0 auto;   /*top left bottom right*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 420px;
    font-size: 20px;
    flex: 10;
}
#jongqbtn:hover {
    background-color: #00879e;
    color: #fff;
    border-radius: 7px;
    border-width: 0;
    text-align: center;
    margin: 0 auto;   /*top left bottom right*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 420px;
    font-size: 20px;
    flex: 10;
}
#jongqbtn1 {
    background-color: #01acc8;
    color: #fff;
    border-radius: 7px;
    border-width: 0;
    text-align: center;
    margin: 0 1em;   /*top left bottom right*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 420px;
    font-size: 20px;
    flex: 10;
}
#jongqbtn1:hover {
    background-color: #00879e;
    color: #fff;
    border-radius: 7px;
    border-width: 0;
    text-align: center;
    margin: 0 1em;   /*top left bottom right*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 420px;
    font-size: 20px;
    flex: 10;
}
#bottom1 {
    background-color: #01acc8;
    color: #fff;
    border-radius: 7px;
    border-width: 0;
    text-align: center;
    margin: 0 30.2px 0 30.2px;   /*top left bottom right*/
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 420px;
    font-size: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card-body {
    padding: 20px;
}

.bottom-menu {
    display: flex;
    background-color: #01acc8;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 92.195%;
    height: 110px;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
#bookbox1 {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin: 10px auto;
    max-width: 420px;
    flex: 10;
}
#reginfbox {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin: 4px auto;
    max-width: 420px;
    flex: 10;
}
#reginfbox1 {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 30px;
    text-align: left;
    margin: 4px auto;
    max-width: 420px;
    flex: 10;
    font-size: 14px;
    height: 50px;
}
#reginfbox2 {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 30px;
    text-align: left;
    margin: 4px auto 4px 0;
    max-width: 49%;
    flex: 10;
    height: 50px;
    font-size: 14px;
}
.circle-button {
    /*display: inline-block;*/
    display: flex;
    border-radius: 50%;
    background-color: #00879e; /* Set the background color as needed */
    color: #fff; /* Set the text color as needed */
    width: 70px; /* Set the width and height to create a circle */
    height: 70px;
    text-align: center;
    text-decoration: none;
    line-height: 50px; /* Aligns text vertically in the center */
    font-size: 16px;
    box-shadow: 0 4px 5px #555555; /*top right bottom left*/
    cursor: pointer;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.circle-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border-radius: 50%;
    background-color: #00879e; /* Set the background color as needed */
    color: #fff; /* Set the text color as needed */
    width: 80px; /* Set the width and height to create a circle */
    height: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 50px; /* Aligns text vertically in the center */
    font-size: 16px;
    box-shadow: 0 4px 5px #555555; /*top right bottom left*/
    cursor: pointer;
}
#reginfbox3 {
    border-radius: 10px;
    border: solid 1.5px #bfbebe;
    padding: 10px 10px 10px 30px;
    text-align: left;
    margin: 4px 0 4px auto;
    max-width: 49%;
    flex: 10;
    font-size: 14px;
    height: 50px;
}
#reg1 {
    text-decoration: none;
    background: #01acc8 ;
    border: solid 1px #111 ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    display: flex;
    padding: 5px 1em;
    max-width: 420px;
    margin: auto auto;
    border-color: #bfbebe;
    flex: 10;
}
#reg1:hover {
    text-decoration: none;
    background-color: #00879e;
    border: solid 1px #111 ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    display: flex;
    padding: 5px 1em;
    max-width: 420px;
    margin: auto auto;
    border-color: #bfbebe;
    flex: 10;
}
#header2 {
    height: 920px;
    background-color: #f5efd5;
}
#informbox {
    border-radius: 10px;
    border: solid 2px #bfbebe;
    padding: 10px;
    margin: 5px 0 10px 0;
    max-width: 420px;
    height: 460.2px;
    background-color: #fff;
    flex: 10;
}
.historybox {
    border-radius: 5px;
    border: solid 2px #bfbebe;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 420px;
    height: 80.2px;
    background-color: #CDEDFB;
    flex: 10;
    margin: 0 1em 0 1em;
    transition: height 0.5s;
}
.historyboxinc {
    border-radius: 5px;
    border: solid 2px #bfbebe;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 420px;
    height: 200.2px;
    background-color: #fff;
    flex: 10;
    margin: 0 1em 0 1em;
    transition: height 0.5s;
}
.calendar {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;

}

.calendar th, .calendar td {
    width: 50px;
    height: 37.5px;
    text-align: center;
}

.calendar th {
    background-color: #fff;
    color: #111;
}
#containerboxnewreg1 {
    border-radius: 50px;
    padding: 0 10px 20px 10px;
    margin: 15px auto;
    max-height: 650px;
    max-width: 450px;
    background-color: #fff;
    box-shadow: 0 0px 7px #555555; /*top right bottom left*/
}
#containerboxnewreg2 {
    border-radius: 50px;
    padding: 0 10px 20px 10px;
    margin: 15px auto;
    height: 450px;
    max-width: 420px;
    background-color: #fff;
    box-shadow: 0 0px 7px #555555; /*top right bottom left*/
}
#inside {
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}